= page_title @team.name

%h1= @team.name
%p
  %strong Region:
  = @team.region
%p
  %strong Active:
  = @team.active


%h3 Players
%ul
  - @players.each do |player|
    %li= link_to "#{player.name} (#{player.role})", player

%h3 Games
= render "games/games_list", games: @team_games


- if can? :update, @team
  = link_to 'Edit', edit_team_path(@team)
  |
= link_to 'Teams', teams_path
