= page_title @team.name

%h1= @team.name
%p
  %strong Region:
  = @team.region
%p
  %strong Active:
  = @team.active


%h3 Players
- if @players.any?
  = render "players/players_list", players: @players
- else
  %p No players in this team

%br

%h3 Games
- if @team_games.any?
  = render "games/games_list", games: @team_games, should_paginate: true
- else
  %p No games recorded for this team

- if can? :update, @team
  = link_to 'Edit', edit_team_path(@team)
  |
= link_to 'Teams', teams_path
