= page_title "Email Confirmation"

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "compact-form" }) do |f|
  %h2.form-heading Email Confirmation
  = render 'layouts/error_messages', object: resource

  .field
    = f.label :email, class: "sr-only"
    = f.email_field :email, autofocus: true, value: (user_signed_in? ? valid_confirmation_email(current_user) : nil), required: true, class: "form-control", placeholder: "Email address"
  .actions
    = f.submit "Send confirmation instructions", class: "btn btn-primary btn-block"
