= page_title heading

- if current_user.manager.free?
  .col-md-3
  .col-md-6
    .premium-features-info
      = render "layouts/rosterpocalypse_premium_info"
      %a.btn.btn-success{href: user_manage_payments_page, role: "button", "data-turbolinks" => "false"} Sign up for a free trial &raquo;
  .col-md-3

= form_for(league, html: {class: "compact-form"}) do |f|
  %h1.form-heading= heading
  = render 'layouts/error_messages', object: league

  %p.alert.alert-warning
    %i.fa.fa-warning.text-warning
    <b>Note:</b> All settings other than the name and description will not be able to be changed after you first create the league.
  .field
    = f.label :name, class: "sr-only"
    = f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "League Name"
  .field
    = f.label :description, class: "sr-only"
    = f.text_area :description, class: "form-control", placeholder: "League Description (optional)"

  - if league.new_record?
    %br
    %h4 Tournament
    - Tournament.active_tournaments.each do |t|
      .field
        = f.radio_button :tournament_id, t.id
        = f.label "tournament_id_#{t.id}".to_sym, t.name

    - if current_user.manager.paid?
      %br
      %h4 Basic Customization
      %p.premium-features-info
        %i.fa.fa-info-circle.text-primary
        These settings offer some basic customisation options for the league. The <b>average match score</b> option governs whether every game played counts for points, or to use the average game points across all games played in a week.
      .field
      %table.table.table-sm
        %tbody
          %tr
            %td= f.label :max_players_per_team, "Players per HGC team"
            %td= f.select :max_players_per_team, [0,1,2,3,4,5], required: true
          %tr
            %td= f.label :num_transfers, "Transfers per week"
            %td= f.select :num_transfers, [0,1,2,3,4,5], required: true
          %tr
            %td= f.label :starting_budget
            %td= f.number_field :starting_budget, in: 300..700, required: true, class: "form-control-small"
          %tr
            %td= f.label :use_representative_game, "Use average game score"
            %td= f.check_box :use_representative_game

      %br
      %h4 Role Requirements
      %p.premium-features-info
        %i.fa.fa-info-circle.text-primary
        Specify the minimum number of players for each role that needs to be in every roster. Since a roster only has 5 players, the sum of all the role limitations <b>should not exceed 5</b>.
      .field
        - req_roles = f.object.required_player_roles.blank? ? League::DEFAULT_REQUIRED_PLAYER_ROLES : f.object.required_player_roles
        = f.fields_for :required_player_roles, OpenStruct.new(req_roles) do |r|
          %table.table.table-sm
            %tbody
              = render "required_roles_modifier", r: r, role: "assassin"
              = render "required_roles_modifier", r: r, role: "flex"
              = render "required_roles_modifier", r: r, role: "warrior"
              = render "required_roles_modifier", r: r, role: "support"

      %br
      %h4 Point Modifiers
      %p.premium-features-info
        %i.fa.fa-info-circle.text-primary
        = render "stat_point_modifiers_blurb"
      .field
        - role_stat_mods = f.object.role_stat_modifiers.blank? ? League::DEFAULT_ROLE_STAT_MODIFIERS : f.object.role_stat_modifiers
        = f.fields_for :role_stat_modifiers, OpenStruct.new(role_stat_mods) do |s|
          = render "role_stat_modifiers", s: s, role: "assassin"
          = render "role_stat_modifiers", s: s, role: "flex"
          = render "role_stat_modifiers", s: s, role: "warrior"
          = render "role_stat_modifiers", s: s, role: "support"

  .actions
    = f.submit submit_message, class: "btn btn-lg btn-primary btn-block"
