- show_manager ||= false

%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      %th Tournament
      %th Description
      - if show_manager
        %th Manager
      %th
      %th{:colspan => "2"}
  %tbody
    - leagues.each do |league|
      - present league, "League" do |l|
        %tr
          %td= link_to l.name, l
          %td= l.tournament.name
          %td= l.truncated_description
          - if show_manager
            %td= l.manager.name
          %td
            - if league.tournament.active?
              = league_membership_change league, "btn-sm"
          - if can? :update, league
            %td= link_to 'Edit', edit_league_path(league)
            %td= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            %td
            %td