- role_stats_ostruct = OpenStruct.new s.object.send(role.to_sym)

%h5
  = role_icon role
  = role.titleize
  = link_to 'Edit', "#", id: "edit_#{role}_stat_modifiers", class: "edit_role_stat_modifiers small", data: {role: role}
  = link_to 'Done', "#", id: "set_#{role}_stat_modifiers", class: "set_role_stat_modifiers small hide", data: {role: role}

%div{id: "update_#{role}_stat_modifiers"}
  = s.fields_for role.to_sym, role_stats_ostruct do |m|
    = render "role_stat_modifier_slider", m: m, role: role, stat: "solo_kills", role_stats_ostruct: role_stats_ostruct, min: -10, max: 10
    = render "role_stat_modifier_slider", m: m, role: role, stat: "assists", role_stats_ostruct: role_stats_ostruct, min: -10, max: 10
    = render "role_stat_modifier_slider", m: m, role: role, stat: "win", role_stats_ostruct: role_stats_ostruct, min: -10, max: 10
    = render "role_stat_modifier_slider", m: m, role: role, stat: "time_spent_dead", role_stats_ostruct: role_stats_ostruct, min: 0, max: 50

%br