= page_title "Leagues"
%h1 Leagues

- if @featured_leagues.any?
  %h2 Featured Leagues

  #featuredLeaguesCarouselContainer

    #featuredLeaguesCarouselSlides.carousel.slide{"data-ride" => "carousel"}
      %a.carousel-control-arrow{"data-slide" => "prev", :href => "#featuredLeaguesCarouselSlides", :role => "button"}
        %i.fa.fa-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous

      .carousel-inner{:role => "listbox"}
        - @featured_leagues.each_with_index do |featured_league, index|
          .carousel-item{ class: index == 0 ? "active" : "" }
            = render "featured_league", league: featured_league

      %a.carousel-control-arrow{"data-slide" => "next", :href => "#featuredLeaguesCarouselSlides", :role => "button"}
        %i.fa.fa-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

      -#%ol.carousel-indicators
      -#  - @featured_leagues.each_with_index do |featured_league, index|
      -#    %li{class: index == 0 ? "active" : "", "data-slide-to" => index, "data-target" => "#featuredLeaguesCarouselSlides"}

%h2 Public Leagues
- if @public_leagues.any?
  = render "leagues_list", leagues: @public_leagues, show_manager: true
- else
  %p No Active Public Leagues found

%br/
- if can? :create, PublicLeague
  = link_to 'New Public League', new_public_league_path, class: "btn btn-success"
- if can? :create, PrivateLeague
  = link_to 'New Private League', new_private_league_path, class: "btn btn-primary"

- @featured_leagues.each do |featured_league|
  = render "league_rules_modal", league: featured_league