= page_title @page_title

%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Leagues', leagues_path
  %li.breadcrumb-item.active= @league.name

%h1
  = @league.name
  = league_membership_change @league, ""
  - if can? :update, @league
    = link_to 'Edit', edit_league_path(@league), class: "small"

%h4= "Tournament: #{@league.tournament.name}"

%p= @league.description

.premium-features-info
  %h4 League Rules
  %ul
    %li
      Roster starting budget:
      = @league.starting_budget
    %li
      Maximum players allowed per HGC team:
      = @league.max_players_per_team
    %li
      Number of transfers available per week:
      = @league.num_transfers
    %li
      = @league.use_representative_game ? "Using the average game score per week" : "All games played count for points"
    %li
      - limits = @league.active_required_player_role_limitations
      - if limits.any?
        Every roster must include at least
        = limits.map { |role, num| "#{num} #{role}" }.to_sentence
        = "player".pluralize limits.size
      - else
        No player role limitations enforced

  %h5 Point Modifiers
  %p
    = render "stat_point_modifiers_blurb"
  %table.table.table-sm.stat-point-modifier-table
    %head
      %tr
        %th
        %th Role
        %th Kills
        %th Assists
        %th Win
        %th Time Spent Dead
    %tbody
      - @league.role_stat_modifiers.each do |role, mods|
        %tr
          %td= role_icon role
          %td= role.capitalize
          %td= mods[:solo_kills]
          %td= mods[:assists]
          %td= mods[:win]
          %td= mods[:time_spent_dead]

- if @rosters.any?
  .center
    = paginate @rosters

  = render "rosters/roster_list", rosters: @rosters, show_manager: true
- else
  %br