= page_title @league.name

%h1= @league.name
%p
  %strong Tournament:
  = link_to @league.tournament.name, @league.tournament
%p
  %strong Region:
  = @league.tournament.region
%p
  %strong Description:
  = @league.description

= league_membership_change @league

= render "rosters/roster_list", rosters: @rosters

- if can? :update, @league
  = link_to 'Edit', edit_league_path(@league)
  |
= link_to 'Leagues', leagues_path
