= page_title @page_title

%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Leagues', leagues_path
  %li.breadcrumb-item.active= @league.name

%h1
  = @league.name
  = league_membership_change @league, ""
  - if can? :update, @league
    = link_to 'Edit', edit_league_path(@league), class: "small"

%h4= @league.tournament.name

%p= @league.description

- if @rosters.any?
  = render "rosters/roster_list", rosters: @rosters, show_manager: true
- else
  %br