= page_title @league.name

%h1
  = @league.name
  = league_membership_change @league, ""

%h4= @league.tournament.name

%p= @league.description

- if @rosters.any?
  = render "rosters/roster_list", rosters: @rosters
- else
  %br

- if can? :update, @league
  = link_to 'Edit', edit_league_path(@league)
  |
= link_to 'Leagues', leagues_path
