= form_for(resource.manager, html: { method: :put, class: "compact-form" }) do |f|
  %h1.form-heading Email Settings
  = render 'layouts/error_messages', object: resource.manager

  I would like to be notified via email when:

  .field
    = f.check_box(:email_scores_updated)
    = f.label(:email_scores_updated, "My roster scores are updated")
  .field
    = f.check_box(:email_new_feature)
    = f.label(:email_new_feature, "New features are released")
  .field
    = f.check_box(:email_join_league)
    = f.label(:email_join_league, "Someone joins a league I manage")

  .actions
    = f.submit "Update Email Preferences", class: "btn btn-lg btn-primary btn-block"
