= page_title "Manage Account"

#account_page

  .col-md-3.bg-faded.sidebar
    %ul.nav.nav-pills.flex-column
      %li.nav-item
        = link_to "Manage User", "#manage_user", class: "nav-link active"
      %li.nav-item
        = link_to "Email Settings", "#manage_emails", class: "nav-link"
      %li.nav-item
        = link_to "Subscriptions", "#manage_payments", class: "nav-link"

  #manage_user
    = render "manage_user", resource: resource
  #manage_emails.hide
    = render "manage_emails", resource: resource
  #manage_payments.hide
    = render "manage_payments", resource: resource, manager: resource.manager