- show_tournament ||= false
- show_manager ||= false
- show_transfers ||= false

%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      - if show_manager
        %th Manager
      - if show_tournament
        %th Tournament
      - if show_transfers
        %th Transfers
      %th Score
      %th{:colspan => "2"}
  %tbody
    - rosters.each do |roster|
      %tr
        %td= link_to roster.name, roster
        - if show_manager
          %td= roster.manager.name.include?("_bnet") ? roster.manager.name.split(".").first : roster.manager.name
        - if show_tournament
          %td= roster.tournament.name
        - if show_transfers
          %td= roster.available_transfers
        %td= roster.score
        %td
          - if can? :update, roster
            = link_to 'Manage', manage_roster_path(roster)
        %td
          - if can? :destroy, roster
            = link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' }
