- gameweek_players.each_with_index do |gameweek_player, index|
  - player = gameweek_player.player
  - if gameweek_player.representative_game_points.present?
    .col-xs-12.roster-status-player-game-details{id: "gameweek-details-#{player.id}", class: (index == 0 ? "" : "hide")}
      = render "rosters/points_breakdown_table", points_breakdown: gameweek_player.representative_game_points, show_game_scores: false
      - gameweek_player.points_breakdowns_by_game.each do |game, points_breakdown|
        - player_game_detail = game.game_details.where(player: player).first
        .col-xs-12.roster-status-player-game-details-title
          .col-xs-10.roster-status-player-game-details-map{id: "#{player.id}-#{game.id}"}= "&rsaquo; vs. #{game.other_team(gameweek_player.team).name} on #{game.map.name}".html_safe
          .col-xs-2.roster-status-player-game-details-points= points_breakdown[:total]
          .col-xs-12.roster-status-player-game-details-points-breakdown{id: "game-details-#{player.id}-#{game.id}"}
            = render "rosters/points_breakdown_table", points_breakdown: points_breakdown, player_game_detail: player_game_detail, show_game_scores: true