- show_tournament ||= false

%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      - if show_tournament
        %th Tournament
      %th Score
      %th{:colspan => "2"}
  %tbody
    - rosters.each do |roster|
      %tr
        %td= link_to roster.name, roster
        - if show_tournament
          %td= roster.tournament.name
        %td= roster.score
        %td
          - if can? :update, roster
            = link_to 'Manage', manage_roster_path(roster)
        %td
          - if can? :destroy, roster
            = link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' }
