%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      %th Region
      %th Score
      - if can? :update, Roster
        %th{:colspan => "2"}
  %tbody
    - rosters.each do |roster|
      %tr
        - if can? :update, roster
          %td= link_to roster.name, manage_roster_path(roster)
        - else
          %td= link_to roster.name, roster
        %td= roster.region
        %td= roster.score
        - if can? :destroy, roster
          %td= link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' }
