- show_tournament ||= false
- show_manager    ||= false
- show_league     ||= false
- show_transfers  ||= false

%table.table.table-sm.table-striped
  %thead
    %tr
      - if show_manager
        %th Roster for Manager
      - if show_league
        %th Roster for League
      - if show_tournament
        %th Tournament
      - if show_transfers
        %th Transfers
      %th Score
      %th Budget
      %th{:colspan => "2"}
  %tbody
    - rosters.each do |roster|
      %tr
        - if show_manager
          %td= link_to roster.manager.sanitized_name, roster
        - if show_league
          %td= link_to roster.league.name, roster
        - if show_tournament
          %td= roster.tournament.name
        - if show_transfers
          %td= roster.available_transfers
        %td= roster.score
        %td= roster.budget
        %td
          - if can? :update, roster
            = link_to 'Manage', manage_roster_path(roster)
        %td
          - if can? :destroy, roster
            = link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' }
