= page_title "Create Roster"

= form_for(@roster, html: {class: "compact-form"}) do |f|
  %h1.form-heading New Roster
  = render 'layouts/error_messages', object: @roster

  .field
    = f.label :name, class: "sr-only"
    = f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Roster Name"

  .field
    = f.label :region, class: "sr-only"
    = f.select :region, Tournament.all.where("end_date > ?", Time.now).map(&:region), {}, required: true, class: "form-control"

  .actions.form-group
    = f.submit "Create Roster", class: "btn btn-lg btn-primary btn-block"

= link_to 'Back', rosters_path
