= page_title @page_title

%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Rosters', rosters_path
  %li.breadcrumb-item.active= "Roster for #{@roster.league.name}"

.col-xs-10.roster-status-page
  = render "gameweeks/gameweek_navigation", gameweek: @gameweek, next_path: roster_path(@roster, gameweek: @gameweek.next_active), previous_path: roster_path(@roster, gameweek: @gameweek.previous_active)
  .col-xs-12.roster-status-gameweek-summary
    %span.col-xs-3
    .col-xs-3.roster-status-gameweek-points
      .roster-status-gameweek-points-title Final Points
      .roster-status-gameweek-points-total= @gameweek_roster.points
    .col-xs-3.roster-status-gameweek-stats
      %span.col-xs-9.roster-status-gameweek-stat-name Highest Points:
      %span.col-xs-3.roster-status-gameweek-stat-value.float-right= @gameweek_rosters.map(&:points).compact.last
      %span.col-xs-9.roster-status-gameweek-stat-name Lowest Points:
      %span.col-xs-3.roster-status-gameweek-stat-value.float-right= @gameweek_rosters.first.points
      %span.col-xs-9.roster-status-gameweek-stat-name 50th Percentile:
      %span.col-xs-3.roster-status-gameweek-stat-value.float-right= @gameweek.points_percentile(50).round
    %span.col-xs-3

  .col-xs-12.roster-status-player-stats
    = link_to "More gameweek stats", @gameweek
  = render "roster_status_team_details", gameweek: @gameweek, gameweek_players: @gameweek_players, show_game_details: true

.roster-sidebar.col-xs-2
  = react_component("SidebarContainer", props: @sidebar_props, prerender: false)
