= page_title @roster.name

%p#notice= notice
%p
  %strong Name:
  = @roster.name
%p
  %strong Players:
  = @roster.players.map(&:name).to_sentence
%p
  %strong Score:
  = @roster.score

- if can? :update, @roster
  = link_to 'Edit', edit_roster_path(@roster)
  |
= link_to 'Rosters', rosters_path
