= page_title @roster.name

%h2= @roster.name

%p
  %strong Tournament:
  = @roster.tournament.name
%p
  %strong Players:
  = @roster.players.map(&:name).to_sentence
%p
  %strong Score:
  = @roster.score

- if can? :update, @roster
  = link_to 'Edit', manage_roster_path(@roster)
  |
= link_to 'Rosters', rosters_path
