= page_title "Roster Status: #{@roster.name}#{@gameweek.present? ? " : #{@gameweek.name}" : ""}"

.col-xs-10.roster-status-page
  .col-xs-12.roster-status-header
    %span.col-xs-2.roster-status-gameweek-navigation
      - if @gameweek.previous.present?
        = link_to "&laquo; Prev".html_safe, status_roster_path(@roster, gameweek: @gameweek.previous), class: "btn btn-link btn-lg btn-wide"
    %span.col-xs-8.roster-status-heading= @gameweek.name

    %span.col-xs-2.roster-status-gameweek-navigation.float-sm-right
      - if @gameweek.next.present?
        = link_to "Next &raquo;".html_safe, status_roster_path(@roster, gameweek: @gameweek.next), class: "btn btn-link btn-lg btn-wide"

  .col-xs-12.roster-status-gameweek-summary
    %span.col-xs-3
    .col-xs-3.roster-status-gameweek-points
      .roster-status-gameweek-points-title Final Points
      .roster-status-gameweek-points-total= @gameweek_roster.points
    .col-xs-3.roster-status-gameweek-stats
      .col-xs-9.roster-status-gameweek-stat-name Highest Points:
      .col-xs-3.roster-status-gameweek-stat-value.float-right= @gameweek.gameweek_rosters.first.points
      .col-xs-9.roster-status-gameweek-stat-name Lowest Points:
      .col-xs-3.roster-status-gameweek-stat-value.float-right= @gameweek.gameweek_rosters.map(&:points).compact.last
      .col-xs-9.roster-status-gameweek-stat-name 50th Percentile:
      .col-xs-3.roster-status-gameweek-stat-value.float-right= @gameweek.points_percentile(50).round
    %span.col-xs-3

  - if @gameweek_players_by_player.any?
    .col-xs-12.roster-status-team-details
      .col-xs-5.roster-status-player-details
        - @gameweek_players_by_player.each_with_index do |(player, gameweek_player), index|
          .col-xs-12.roster-status-player{id: "player-#{player.id}", class: (index == 0 ? "active-player-gameweek" : "inactive-player-gameweek")}
            .col-xs-9.roster-status-player-left
              .roster-status-player-name{id: player.id}= player.name
              .roster-status-player-team= gameweek_player.present? ? gameweek_player.team.name : player.team.name
            .col-xs-3.float-right.roster-status-player-points= gameweek_player.try :points

      .col-xs-7.roster-status-gameweek-details.active-player-gameweek
        - @gameweek_players_by_player.each_with_index do |(player, gameweek_player), index|
          - if gameweek_player.present?
            .col-xs-12.roster-status-player-game-details{id: "gameweek-details-#{player.id}", class: (index == 0 ? "" : "hide")}
              - gameweek_player.points_breakdowns_by_game.each do |game, points_breakdown|
                - player_game_detail = game.game_details.where(player: player).first

                .col-xs-10.roster-status-player-game-details-map{id: "#{player.id}-#{game.id}"}= "vs. #{game.other_team(player_game_detail.team).name} on #{game.map.name}"
                .col-xs-2.roster-status-player-game-details-points= points_breakdown[:total]
                .col-xs-12.roster-status-player-game-details-points-breakdown{id: "game-details-#{player.id}-#{game.id}"}
                  %table.table.table-sm
                    %thead
                      %tr
                        %th Statistic
                        %th Count
                        %th Points
                    %tbody
                      - points_breakdown.except(:bonus, :total).each do |category, points|
                        %tr
                          %td= category.to_s.humanize
                          %td= player_game_detail.try(:send, category)
                          %td= points
                  .roster-status-player-game-details-bonus
                    - if points_breakdown[:bonus].any?
                      %strong Bonus awards:
                      = points_breakdown[:bonus].map { |bonus| bonus.to_s.humanize }.to_sentence
        #no-games.col-xs-12.roster-status-player-game-details.hide
          .col-xs-12.roster-status-player-no-games-placeholder No games this week
  - else
    .col-xs-12.roster-status-no-data-placeholder
      No data available for this week

.roster-sidebar.col-xs-2
  = react_component("SidebarContainer", props: @sidebar_props, prerender: false)

:javascript
  $(function() {
    $('.roster-status-player-game-details-map').click(function(e){
      var id = e.target.id;
      var game_details_id = "#game-details-" + id
      console.log(game_details_id);
      $(game_details_id).slideToggle('fast');
    });

    $('.roster-status-player-name').click(function(e){
      var id = e.target.id;
      var gameweek_details_id = "#gameweek-details-" + id;
      var player_id = "#player-" + id;

      console.log(gameweek_details_id);

      $('.roster-status-player').removeClass("active-player-gameweek");
      $('.roster-status-player').addClass("inactive-player-gameweek");
      $(player_id).removeClass("inactive-player-gameweek");
      $(player_id).addClass("active-player-gameweek");

      $('.roster-status-player-game-details').hide();
      var div = $(gameweek_details_id)
      if(div[0]) {
        $(gameweek_details_id).show();
      }
      else {
        $('#no-games').show();
      }

    });
  })