We wanted to let you know that a recent attempt to charge you for your Rosterpocalypse Season Pass service has failed. This means that your Premium league scores are no longer being updated.

- if @card.present?
  The card on record is:
  #{@card["brand"]} #{@card["exp_month"]}/#{@card["exp_year"]} ...#{@card["last4"]}

Please log in to your Rosterpocalypse account and ensure that the card details are present and accurate: #{edit_user_registration_url + "#manage_payments"}
