= page_title heading

= form_for(map, html: {class: "compact-form"}) do |f|
  %h1.form-heading= heading
  = render 'layouts/error_messages', object: map

  .field
    = f.label :name, class: "sr-only"
    = f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Map Name"
  .actions
    = f.submit submit_message, class: "btn btn-lg btn-primary btn-block"
