= page_title "Maps"

%h1 Maps
%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      %th Games
      %th Ave. Duration
      - if can? :update, Map
        %th{:colspan => "2"}
  %tbody
    - @maps.each do |map|
      - present map do |m|
        %tr
          %td= link_to m.name, map
          %td= m.map_stats[:n_games]
          %td= distance_of_time_in_words m.map_stats[:ave_game_duration]
          - if can? :update, Map
            %td= link_to 'Edit', edit_map_path(map)
            %td= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if can? :create, Map
  = link_to 'New Map', new_map_path
