= page_title @map.name

%h1= @map.name
= render "games/games_list", games: @map_games, show_map: false

%br/
- if can? :update, Map
  = link_to 'Edit', edit_map_path(@map)
  |
= link_to 'Maps', maps_path
