%p#notice= notice
%h1 Managers
%table
  %thead
    %tr
      %th User
      %th{:colspan => "3"}
  %tbody
    - @managers.each do |manager|
      %tr
        %td= manager.user
        %td= link_to 'Show', manager
        %td= link_to 'Edit', edit_manager_path(manager)
        %td= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Manager', new_manager_path
