= page_title @page_title

%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Managers', managers_path
  %li.breadcrumb-item.active= @manager.name

%h1= @manager.name

%h3 Rosters
= render "rosters/roster_list", rosters: @manager.rosters, show_leagues: true

%h3 Leagues
= render "leagues/leagues_list", leagues: @manager.leagues
