= page_title "#{@tournament.name} : #{@gameweek.name}"

%h1= @tournament.name
%p
  %strong Region:
  = @tournament.region
%p
  %strong Cycle hours:
  = @tournament.cycle_hours
%p
  %strong Start date:
  = @tournament.start_date
%p
  %strong End date:
  = @tournament.end_date

%h2= @gameweek.name

%span.float-xs-right
  = select_tag "Select Gameweek", options_from_collection_for_select(@gameweeks, "id", "name_including_dates", @gameweek.id), class: "form-control", id: "gameweek-select"

%h3 Games
= render "games/games_list", games: @tournament_games

- if can? :update, @tournament
  = link_to 'Edit', edit_tournament_path(@tournament)
  |
= link_to 'Back', tournaments_path


:javascript
  $(function() {
    var currentGameweek = $("#gameweek-select").val();
    $("#gameweek-select").on("change", function() {
      var newGameweek = $("#gameweek-select").val();
      var tournamentPath = $("#gameweek-select")[0].baseURI;

      if(tournamentPath.includes("?")) {
        if(tournamentPath.includes("gameweek_id")) {
          window.location.href = tournamentPath.replace(currentGameweek, newGameweek);
        }
        else {
          window.location.href = tournamentPath + "&gameweek_id=" + newGameweek;
        }
      }
      else {
        window.location.href = tournamentPath + "?gameweek_id=" + newGameweek;
      }
    });
  })