.jumbotron
  .container
    %h1.display-3 Build the best Heroes eSports team!
    %p Build your dream team from the best professional Heroes of the Storm players to win honour and glory! Choose your roster wisely since you only have a limited pool of points to work with and make sure to keep up with the latest news and results to fine tune your team every week.
    %p
      %a.btn.btn-primary.btn-lg{href: new_roster_path, role: "button"} Get Started &raquo;



.container
  .row
    .col-md-4
      %h2 Top Rosters
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Name
            %th Manager
            %th Score
        %tbody
          - Roster.order("score DESC").limit(5).each do |roster|
            %tr
              %td= link_to roster.name, roster
              %td= link_to roster.manager.user.username, roster.manager
              %td= roster.score
      %p
        %a.btn.btn-secondary{href: rosters_path, role: "button"} View more &raquo;

    .col-md-4
      %h2 Top Players
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Name
            %th Value
        %tbody
          - Player.order("value DESC").limit(5).each do |player|
            %tr
              %td= link_to player.name, player
              %td= player.value
      %p
        %a.btn.btn-secondary{href: players_path, role: "button"} View more &raquo;

    .col-md-4
      %h2 Upcoming Games
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Teams
            %th Date
        %tbody
          %tr
            %td Liquid vs Fnatic
            %td 21/11/2016
          %tr
            %td Epunks vs Dignitas
            %td 25/11/2016
          %tr
            %td Denial vs Naventic
            %td 31/11/2016
          %tr
            %td MVP Black vs Tempest
            %td 02/12/2016
          %tr
            %td eStar vs ZeroPanda
            %td 05/12/2016
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View more &raquo;
