<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map %>
    <%= f.text_field :map %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :duration_s %>
    <%= f.number_field :duration_s %>
  </div>

  <div class="field">
    <%= f.label :game_hash %>
    <%= f.text_field :game_hash %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
