%table.table.table-sm.table-striped
  %thead
    %tr
      %th Teams
      - if show_map
        %th Map
      %th Start Date and Time
      %th Duration
      - if can? :update, Game
        %th{:colspan => "2"}
  %tbody
    - games.each do |game|
      %tr
        - present game do |g|
          %td= link_to teams_with_bold_winner(g.teams_by_win), g
          -if show_map
            %td= link_to g.map.name, g.map
          %td= g.start_date
          %td= distance_of_time(g.duration_s)
          - if can? :update, Game
            %td= link_to 'Edit', edit_game_path(g)
            %td= link_to 'Destroy', g, method: :delete, data: { confirm: 'Are you sure?' }
