%p#notice= notice
%h1 Games
%table
  %thead
    %tr
      %th Map
      %th Start date
      %th Duration s
      %th{:colspan => "3"}
  %tbody
    - @games.each do |game|
      %tr
        %td= game.map.name
        %td= game.start_date
        %td= game.duration_s
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Game', new_game_path
