= page_title "Games"

%h1 Games
= form_tag bulk_destroy_games_path do
  = render "games/games_list", games: @games, should_paginate: true, show_checkboxes: true, checkbox_proc: Proc.new { |game| check_box_tag game.id, game.id, false, name: "game_ids[]" }

  - if can? :destroy, Game
    .actions.form_group
      = submit_tag "Destroy checked games", class: "btn btn-lg btn-primary btn-block"
- if can? :create, Game
  = link_to 'New Game', new_game_path

