- present(@game) do |game|
  %h1 Game Details
  %h3 #{game.map.name} game took #{distance_of_time_in_words(game.duration_s, 0, include_seconds: true)} on #{game.start_date}

  %table.table.table-sm.table-striped
    %thead
      %tr
        %th
        %th Player
        %th Hero
        %th Kills
        %th Deaths
        %th Assists
        %th Time Spent Dead
    %tbody
      - game.game_details.each do |details|
        %tr
          %td{class: details.win ? "game-win" : "game-loss"}
          %td= link_to details.player.name, details.player
          %td= link_to details.hero.name, details.hero
          %td= details.solo_kills
          %td= details.deaths
          %td= details.assists
          %td= details.time_spent_dead
  %br/
  - if can?(:update, Game) && can?(:update, PlayerGameDetail)
    %td= link_to 'Edit', edit_game_path(game)