- present(@game) do |game|
  = page_title "#{game.details_by_team.keys.join(" vs. ")}"
  %h1 Game Details
  - if game.tournament.present?
    %h2= "Tournament: #{game.tournament.name}"
  %h3 #{game.map.name} game took #{distance_of_time_in_words(game.duration_s, 0, include_seconds: true)} on #{game.start_date}

  %table.table.table-sm
    %thead
      %tr
        %th
        %th Player
        %th Team
        %th Hero
        %th Kills
        %th Deaths
        %th Assists
        %th Time Spent Dead
        - if can? :update, Game
          %th{:colspan => "2"}
    %tbody
      - game.details.each do |details|
        %tr{class: details.team_colour == "red" ? "team-red" : "team-blue"}
          %td
            %span{class: "fa-stack" }
              - if details.win
                %i{class: "fa fa-star fa-stack-1x game-win"}
                %i{class: "fa fa-star-o fa-stack-1x"}
          %td= link_to details.player.name, details.player
          %td= link_to details.team.name, details.team
          %td= link_to details.hero.name, details.hero
          %td= details.solo_kills
          %td= details.deaths
          %td= details.assists
          %td= details.time_spent_dead
          - if can? :update, Game
            %td= link_to 'Edit', edit_detail_path(details)
            %td= link_to 'Destroy', detail_path(details), method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  - if can?(:update, Game) && can?(:update, GameDetail)
    %td= link_to 'Edit', edit_game_path(game)
    |
= link_to 'Games', games_path
