= page_title heading

= form_for(player, html: {class: "compact-form"}) do |f|
  %h1.form-heading= heading
  = render 'layouts/error_messages', object: player

  .field
    = f.label :name, class: "sr-only"
    = f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Player Name"
  .field
    = f.label :role, class: "sr-only"
    = f.text_field :role, required: true, class: "form-control", placeholder: "Role"
  .field
    = f.label :country, class: "sr-only"
    = f.text_field :country, class: "form-control", placeholder: "Country"
  .field
    = f.label :value, class: "sr-only"
    = f.number_field :value, required: true, class: "form-control", placeholder: "Value"
  .field
    = f.label :team, class: "sr-only"
    = f.select :team_id, Team.order(:name).map { |team| [team.name, team.id] }, {include_blank: true}, {class: "form-control"}
  .actions
    = f.submit submit_message, class: "btn btn-lg btn-primary btn-block"
