%p#notice= notice
%h1 Players
%table
  %thead
    %tr
      %th Name
      %th Role
      %th Country
      %th Region
      %th Cost
      %th{:colspan => "3"}
  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= player.role
        %td= player.country
        %td= player.region
        %td= player.cost
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Player', new_player_path
