= page_title @page_title

%ol.breadcrumb
  %li.breadcrumb-item= link_to 'Players', players_path
  %li.breadcrumb-item.active= @player.name

%h1
  = @player.name
  - if can? :update, Player
    = link_to 'Edit', edit_player_path(@player), class: "small"

- present @player do |p|
  %p
    %strong Role:
    = p.role
  %p
    %strong Team:
    = p.team.present? ? link_to(p.team.name, p.team) : ""
  %p
    %strong Country:
    = p.country
  %p
    %strong Value:
    = p.value
  %p
    %strong Most Played Heroes:
    = link_to_heroes_with_stat p.most_played_heroes
  %p
    %strong Top Winrate Heroes:
    = link_to_heroes_with_stat p.top_winrate_heroes

  %h3 Games
  = render "games/games_list", games: @player_games, should_paginate: true
