%p#notice= notice
%p
  %strong Name:
  = @player.name
%p
  %strong Role:
  = @player.role
%p
  %strong Country:
  = @player.country
%p
  %strong Region:
  = @player.region
%p
  %strong Cost:
  = @player.cost
= link_to 'Edit', edit_player_path(@player)
|
= link_to 'Back', players_path
