<%= form_for(hero) do |f| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :internal_name %>
    <%= f.text_field :internal_name %>
  </div>

  <div class="field">
    <%= f.label :classification %>
    <%= f.text_field :classification %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
