= page_title heading

= form_for(hero, html: {class: "compact-form"}) do |f|
  %h1.form-heading= heading
  = render 'layouts/error_messages', object: hero

  .field
    = f.label :name, class: "sr-only"
    = f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Hero Name"
  .field
    = f.label :internal_name, class: "sr-only"
    = f.text_field :internal_name, required: true, class: "form-control", placeholder: "Internal Name"
  .field
    = f.label :classification, class: "sr-only"
    = f.select :classification, Hero::HERO_CLASSIFICATIONS, {}, class: "form-control"
  .actions
    = f.submit submit_message, class: "btn btn-lg btn-primary btn-block"
