%h1 Heroes
%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      %th Classification
      %th Games Played
      %th Wins
      %th Losses
      %th Win %
      %th{:colspan => "2"}
  %tbody
    - @heroes.each do |hero|
      - present hero do |h|
        %tr
          %td= link_to h.name, hero
          %td= h.classification
          %td= h.hero_stats[:n_games]
          %td= h.hero_stats[:wins]
          %td= h.hero_stats[:losses]
          %td= h.hero_stats[:win_percent]
          %td= link_to 'Edit', edit_hero_path(hero)
          %td= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Hero', new_hero_path
