%p#notice= notice
%h1 Heroes
%table
  %thead
    %tr
      %th Name
      %th Internal name
      %th Classification
      %th{:colspan => "3"}
  %tbody
    - @heroes.each do |hero|
      %tr
        %td= hero.name
        %td= hero.internal_name
        %td= hero.classification
        %td= link_to 'Show', hero
        %td= link_to 'Edit', edit_hero_path(hero)
        %td= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Hero', new_hero_path
