= page_title @hero.name

%h1= @hero.name
%p
  %strong Classification:
  = @hero.classification

%h3 Games
= render "games/games_list", games: @hero_games, should_paginate: true

- if can? :update, @hero
  = link_to 'Edit', edit_hero_path(@hero)
  |
= link_to 'Heroes', heroes_path
