= form_for(game_detail, as: :detail, url: detail_path(game_detail), html: {class: "compact-form"}) do |f|
  - if game_detail.errors.any?
    #error_explanation
      %h2.form-heading
        = pluralize(game_detail.errors.count, "error")
        prohibited this game detail from being saved:
      %ul
        - game_detail.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :player_id, class: "sr-only"
    = f.select :player_id, Player.all.collect { |p| [p.name, p.id] }, {}, required: true, class: "form-control"
  .field
    = f.label :team_id, class: "sr-only"
    = f.select :team_id, Team.all.collect { |t| [t.name, t.id] }, {}, required: true, class: "form-control"
  .field
    = f.label :hero_id, class: "sr-only"
    = f.select :hero_id, Hero.all.collect { |h| [h.name, h.id] }, {}, required: true, class: "form-control"
  .field
    = f.label :solo_kills, class: "sr-only"
    = f.number_field :solo_kills, required: true, class: "form-control", placeholder: "Kills"
  .field
    = f.label :assists, class: "sr-only"
    = f.number_field :assists, required: true, class: "form-control", placeholder: "Assists"
  .field
    = f.label :deaths, class: "sr-only"
    = f.number_field :deaths, required: true, class: "form-control", placeholder: "Deaths"
  .field
    = f.label :time_spent_dead, class: "sr-only"
    = f.number_field :time_spent_dead, required: true, class: "form-control", placeholder: "Time Spent Dead (s)"
  .field
    = f.label :red
    = f.radio_button :team_colour, "red"
    = f.label :blue
    = f.radio_button :team_colour, "blue"
  .field
    = f.label :win
    = f.check_box :win
  .actions
    = f.submit "Update Game Details", class: "btn btn-lg btn-primary btn-block"
