!!! XML
!!!
%html
  %head
    %title= title
    = csrf_meta_tags
    = canonical_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container
      %nav.navbar.navbar-static-top.navbar-dark.bg-inverse
        %a.navbar-brand{href: root_path}= t('title')
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li.nav-item
              %a.nav-link{href: rosters_path} Rosters
            %li.nav-item
              %a.nav-link{href: leagues_path} Leagues
          - if user_signed_in? && current_user.admin?
            %li.nav-item
              %a.nav-link{href: tournaments_path} Tournaments
            %li.nav-item
              %a.nav-link{href: managers_path} Managers
            %li.nav-item
              %a.nav-link{href: players_path} Players
            %li.nav-item
              %a.nav-link{href: games_path} Games
            %li.nav-item
              %a.nav-link{href: heroes_path} Heroes
            %li.nav-item
              %a.nav-link{href: maps_path} Maps
            %li.nav-item
              %a.nav-link{href: teams_path} Teams

          %span.float-xs-right
            - if user_signed_in?
              %li.nav-item.dropdown.float-lg-right
                %a.nav-link.dropdown-toggle{href: "#", id: "navbarDropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
                  %i{class: "fa fa-lg fa-user-circle"}
                  Hello #{current_user.username}!
                .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                  %a.dropdown-item{href: edit_user_registration_path} Edit profile
                  %a.dropdown-item{href: destroy_user_session_path, "data-method" => "delete"} Logout
            - else
              %li.nav-item
                %a.nav-link{href: new_user_registration_path} Sign up
              %li.nav-item
                %a.nav-link{href: new_user_session_path} Login

      - if notice
        %p.alert.alert-success
          = notice
      - if alert
        %p.alert.alert-danger
          = alert

      = yield

    %hr

.container
  .row
    .col-md-4
      = link_to "About", about_path
      |
      = link_to "Credits", credits_path
