!!! XML
!!!
%html
  %head
    %title= title
    = csrf_meta_tags
    = canonical_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render "/layouts/favicons"

  %body
    .container
      %nav.navbar.navbar-toggleable-sm.navbar-dark.bg-inverse
        %a.navbar-brand.brand-name{href: root_path}
          = image_tag "logo.svg", alt: "Rosterpocalypse", width: 36, height: 32, class: "logo-image"
          = t('title')
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li.nav-item
              %a.nav-link{href: rosters_path} Rosters
            %li.nav-item
              %a.nav-link{href: leagues_path} Leagues
            %li.nav-item
              %a.nav-link{href: gameweeks_path} Statistics
          - if user_signed_in? && current_user.admin?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: "#", id: "navbarAdminDropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
                %i{class: "fa fa-lg fa-lock"}
                Admin Links
              .dropdown-menu{"aria-labelledby" => "navbarAdminDropdownMenuLink"}
                %a.dropdown-item{href: managers_path} Managers
                %a.dropdown-item{href: tournaments_path} Tournaments
                %a.dropdown-item{href: matches_path} Matches
                %a.dropdown-item{href: games_path} Games
                %a.dropdown-item{href: teams_path} Teams
                %a.dropdown-item{href: players_path} Players
                %a.dropdown-item{href: heroes_path} Heroes
                %a.dropdown-item{href: maps_path} Maps

          %span.float-xs-right
            - if user_signed_in?
              %li.nav-item.dropdown.float-lg-right
                %a.nav-link.dropdown-toggle{href: "#", id: "navbarUserDropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
                  %i{class: "fa fa-lg fa-user-circle"}
                  Hello #{current_user.username}!
                .dropdown-menu{"aria-labelledby" => "navbarUserDropdownMenuLink"}
                  %a.dropdown-item{href: edit_user_registration_path} Edit profile
                  %a.dropdown-item{href: destroy_user_session_path, "data-method" => "delete"} Logout
            - else
              %li.nav-item
                %a.nav-link{href: new_user_registration_path} Sign up
              %li.nav-item
                %a.nav-link{href: new_user_session_path} Login

      - if notice
        %p.alert.alert-success
          = notice
      - if alert
        %p.alert.alert-danger
          = alert

      = yield

    %hr

.container
  .row
    .col-md-6.footer-links
      = link_to "About & FAQ", about_path
      / %b &#8226;
      / = link_to "Credits", credits_path
      / %b &#8226;
      / = link_to "Privacy Policy", privacy_path
      / %b &#8226;
      / = link_to "Terms and Conditions", terms_path
    .col-md-6
      .float-xs-right
        %i.fa.fa-copyright
        2017 Rosterpocalypse
