= csrf_meta_tags
= canonical_tag

= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'
= render "/layouts/favicons"

- if Rails.env == "production"
  = render "layouts/crazyegg"

- if Rails.env == "production"
  = render "layouts/mixpanel"
